#Q1. Find the largest number from the given list, use for loop.

In [46]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if i > larger:
    larger = i
print(f"the largest number from the list is: {larger}")

the largest number from the list is: 525

#Q2. Print all the even number between (1, 12).

In [57]:
for i in range(1,12):
   if i % 2 == 0:
    print(i)

2
4
6
8
10

#Q3. Calculate the sum of all numbers from 1 to a given number
```
Expected Output:

Enter number 10

Sum is:  55
```

In [79]:
a = int(input("enter an number"))
sum = 0
for i in range(1, a+1):
  sum = sum + i
  print("sum of all ", a, "numbers: ", sum)

enter an number10
sum of all  10 numbers:  1
sum of all  10 numbers:  3
sum of all  10 numbers:  6
sum of all  10 numbers:  10
sum of all  10 numbers:  15
sum of all  10 numbers:  21
sum of all  10 numbers:  28
sum of all  10 numbers:  36
sum of all  10 numbers:  45
sum of all  10 numbers:  55

#Q4. Write a program to display only those numbers from a list that satisfy the following conditions
```
The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop


```

In [77]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i % 5 == 0:
        print(i)

75
150
145

#Q5. Print the given list in reverse order.

In [66]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()

print(f"the reverse order is: {list1}")

the reverse order is: [50, 40, 30, 20, 10]