
#1. On amazon website we have the following available items -

In [69]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
total = 0
my = input("enter ur choice of products : ")
for item in amazon_website:
 if my == 'watch' or 'phone' or 'laptop' or 'shirt':
  print(item)
else:
  print("out of stock")
for i in range(len(amazon_website)):
  print(amazon_website[i][1])
  total =total + amazon_website[i][1]
print("the total paid amount of products : ", total)

enter ur choice of products : shirt
('watch', 5000)
('phone', 10000)
('laptop', 50000)
('shirt', 1000)
out of stock
5000
10000
50000
1000
the total paid amount of products :  66000

# 2. What will be the output of the following code snippet?

In [42]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

# 3. Write a Python program to find the repeated items of a tuple.

In [9]:
t = (1,1,1,1,2,3,4,5,6,7)
t = t.count(1)  # count is mainly used to find repeated items in an tuple
print(t)

4

In [18]:
t = (1,1111,1,1111,2,3,4,5,555,5,5555,5)
for i in t:
  if t.count(i) > 1:
    print(i)

1
1111
1
1111
5
5
5

# 4. Replace last value of tuples in a list with 500. Try using list comprehension

In [4]:
A = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(A)):
  l = list(A[i])   # we have converted tuple of elements into list of elements
  print(i)
  print(l)
  l[-1] = 500    # replace last value with 500
  print(l)
  A[i] = tuple(l) # we once again convert list into tuple to final results
  print(A[i])
  print(i)
  print(A)

0
[10, 20, 40]
[10, 20, 500]
(10, 20, 500)
0
[(10, 20, 500), (40, 50, 60), (70, 80, 90)]
1
[40, 50, 60]
[40, 50, 500]
(40, 50, 500)
1
[(10, 20, 500), (40, 50, 500), (70, 80, 90)]
2
[70, 80, 90]
[70, 80, 500]
(70, 80, 500)
2
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]

In [ ]:
A = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]  #list comprehension
print([i[:-1] + (500,) for i in A])

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]