# (1).Count the number of times iNeuron appears in the string.

In [2]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

In [3]:
text.count("iNeuron")

3

# (2).Check if position 5 to 11 ends with the phrase iNeuron. in the string

In [4]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."

In [5]:
txt[5:11]

', welc'

# (3).Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [84]:
name = input("please enter your full name: ")

name=name.split(" ")
#print(name)
print(name[0][0],name[1][0],name[2])

please enter your full name: erewr huijoi hoijoi
e h hoijoi

# (4). Join all items in a list into a string, using a hash(#) character as separator:

In [35]:
LIST = ["My", "name", "is", "Rishav", "Dash"]

In [39]:
"#".join(["My", "name", "is", "Rishav", "Dash"])

'My#name#is#Rishav#Dash'

# (5). Write example for the following string manipulation function,

In [30]:
a = "1"
a.isdecimal()

True

In [15]:
a = "sanjay"
a.islower()

True

In [16]:
a = "Sanjay"
a.islower()

False

In [18]:
a = "SuppER"
a.isupper()

False

In [20]:
a = "SUPPER"
a.isupper()

True

In [27]:
a = "Î¨"
a.isalpha()

True

In [26]:
a = "#"
a.isalpha()

False

In [29]:
a = "23"
a.isnumeric()

True

# (6).Indian PAN card format follows the following formats -

In [59]:
PAN_CARD = input("Please Enter valid PAN_CARD Number: ")  # AYEPC7894X

if PAN_CARD.isupper() and len(PAN_CARD) and PAN_CARD.isalnum() and PAN_CARD[6:9].isdigit():
  print("Its a Valid PAN_CARD Number")
else:
  print("Its a in-valid PAN_CARD Number")

Please Enter valid PAN_CARD Number: AYEPC7894X
Its a Valid PAN_CARD Number

In [60]:
PAN_CARD = input("Please Enter valid PAN_CARD Number: ")  # ABCDE9999Y

if PAN_CARD.isupper() and len(PAN_CARD)  and PAN_CARD.isalnum() and PAN_CARD[6:9].isdigit():
  print("Its a Valid PAN_CARD Number")
else:
  print("Its a in-valid PAN_CARD Number")

Please Enter valid PAN_CARD Number: ABCDE9999Y
Its a Valid PAN_CARD Number