#FSDS_bootcamp_assignment_003 Answer Key

## Python String Manipulation

1.Count the number of times iNeuron appears in the string.

In [ ]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

In [ ]:
text.count ("iNeuron")

3

2.Check if position 5 to 11 ends with the phrase iNeuron. in the string

In [ ]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."

In [ ]:
txt.endswith("iNeuron.")

True

3.Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [ ]:
name = "Sunny Bhavin Chandra"
first_name, middle_name, sir_name = name.split(" ")

print(f""" {first_name[0]}.{middle_name[0]}.{sir_name}
""")

 S.B.Chandra

4.Join all items in a list into a string, using a hash(#) character as separator:

In [ ]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
"#".join (LIST)

'My#name#is#Rishav#Dash'

5.Write example for the following string manipulation function,

- isdecimal()
- islower()
- isupper()
- isalpha()
- isnumeric()

In [ ]:
name = "Sunny"
name.islower()

False

In [ ]:
name = "Sunny"
name.isnumeric()

False

In [ ]:
name = "Sunny"
name.isalpha()

True

In [ ]:
name = "Sunny"
name.isupper()

False

6.Indian PAN card format follows the following formats -

AYEPC7894X


---


ABCDE9999Y Take user input for PAN_CARD and validate as per the above example.

In [ ]:
pan_number = input()

if pan_number[0:5].isupper() and pan_number[5:9].isdigit() and pan_number[9].isupper() and len(pan_number)==10:
  print(f"user input is correct: {pan_number} ")
else:
  print("invalid input")

ABCDE9999Y
user input is correct: ABCDE9999Y

In [ ]:
\